/* Основные стили */
body {
    background-color: var(--bg-color);
    height: 100vh;
    margin: 0;
}
.auth {
    display: flex;
    justify-content: center;
}
.main {
    margin-top: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.logo {
    position: absolute; 
    top: -160px; 
    z-index: 10; 
    left: 135px;
}
.login {
    width: 500px;
    height: 450px;
    background-color: var(--white-color);
    border-radius: 15px;
    position: relative; 
    z-index: 1;
}
/* Линия разделения */
hr {
    width: 150px;
    border: none; 
    height: 1px; 
    background-color: var(--font-color); 
}
.login_title {
    padding-top: 80px;
    color: var(--font-color);
    font-size: 26px;
    font-family: Montserrat;
    font-weight: 500; 
    align-items: center;
    justify-content: center;
    display: flex;
}
/* Форма логина */
.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
    gap: 30px;
}
.field {
    width: 400px;
    height: 40px;
    border: 2px solid var(--font-color);
    border-radius: 15px;
    font-size: 24px; 
    color: var(--btn-color); 
}
.input-field input::placeholder {
    color: var(--btn-color); 
    text-align: center; 
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 400;
}
.login-button {
    width: 400px;
    height: 50px;
    margin-top: 25px;
    border: none;
    border-radius: 15px;
    background-color: var(--btn-color);
    color: var(--white-color);
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 500;
    transition: background-color 0.3s, box-shadow 0.3s;
}
.login-button:hover {
    background-color: var(--pink-color); 
}
/* Стили для ошибок */
input.invalid {
    border-color: red; 
}
.error-message {
    color: red;
    font-size: 20px;
    margin-top: 35px;
    display: none;
    padding-left: 50px;
}
/* Панель администратора */
/* Шапка */
header, main {
    max-width: 1140px; 
    margin: 0 auto;
    width: 100%; 
}

.header_admin {
    display: flex;
    align-items: center;
    gap: 238px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.admin_logo_text {
    width: 179px;
}

.admin_logo {
    display: flex;
    align-items: center;
    gap: 6px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    color: var(--white-color);
}
/* Навигация */
#navigation {
    position: relative;
    width: 100%; 
    max-width: 1140px;
    margin: 0 auto;
}
#navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 87px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 20px;
    color: var(--white-color);
}
#navigation li {
    position: relative;
    cursor: pointer;
    color: var(--white-color);
    transition: transform 0.3s, color 0.3s;
    display: inline-block;
    text-align: center;
}
#navigation li:hover {
    color: var(--pink-color); 
    transform: scale(1.1);
}
#navigation li.active {
    color: var(--pink-color);
    transform: scale(1.1);
}
/* Линия под активным элементом */
.underline {
    position: absolute; 
    height: 2px; 
    background-color: var(--pink-color); 
    bottom: -5px; 
    left: 0; 
    width: 0; 
    transition: width 0.3s, left 0.3s; 
}
/* Раздел Скидки */
.table-container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Основная таблица */
.discount-table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--white-color);
    border-radius: 15px; 
    box-sizing: border-box;
    overflow: hidden;
}
/* Шапка таблицы */
.discount-table thead {
    background-color: var(--grey-color);
    height: 68px;
}
.discount-table thead th {
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 500;
    color: var(--white-color);
}
/* Тело таблицы */
.discount-table tbody tr {
    border-bottom: 1px solid var(--wgrey-color); 
    height: 100px;
}
.discount-table tbody td {
    padding: 15px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    font-family: Montserrat;
    font-weight: 400;
    color: var(--font-color);
}
.discount-table tbody td:first-child {
    text-align: left; 
    padding-left: 20px; 
    vertical-align: middle; 
}
/* Футер таблицы */
.discount-table tfoot {
    background-color: var(--wgrey-color); 
    height: 70px;
}
.discount-table tfoot td {
    padding: 10px;
    text-align: right; 
}
.pagination {
    display: flex;
    justify-content: flex-end;
    gap: 17px;
    margin: 10px;
}
.pagination-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
/* поведение пользователей */
th img.down_arrow {
    vertical-align: middle; 
    margin-left: 5px; 
}
.filter-select {
    width: 100%;
    max-width: 250px;
    height: 40px;
    margin-top: 4px;
    padding: 5px;
    font-size: 16px; 
    font-family: Montserrat;
    color: var(--white-color);
    background-color: var(--grey-color); 
    border: 1px solid var(--white-color); 
    border-radius: 5px;
    appearance: none; 
    background-image: url('/img/filter.svg'); 
    background-repeat: no-repeat;
    background-position: right 10px center; 
}
.filter-select option {
    padding: 10px; 
}
.filter-select:hover,
.filter-select:focus {
    border-color: var(--white-color);
    outline: none; 
}
.searchInput{
    width: 100%;
    max-width: 220px;
    height: 25px;
    margin-top: 4px;
    padding: 5px;
    font-size: 16px;
    font-weight: 300;
    font-family: Montserrat;
    color: var(--white-color);
    background-color: var(--grey-color);
    border: 1px solid var(--white-color);
    border-radius: 5px;
}
input:focus,
textarea:focus {
    outline: none;
}
.btn-searchInput{
    height: 35px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    font-family: Montserrat;
    background-color: var(--white-color);
    color: var(--font-color);
}
button:focus,
button:active {
    outline: none;
}
.customer-tovar:hover {
    cursor: pointer;
    font-weight: 500;
}

/* Раздел Настройки */
.set_text{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
    padding-top: 40px;
}
.set_text_timer{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    padding-top: 40px;
}
.set_text_invalid{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    color: red;
    margin-bottom: -40px;
}
.set{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.wrapper_set{
    display: flex;
    flex-direction: row;
    gap: 60px;
}
.set_left{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.square{
    width: 535px;
    height: 250px;
    background-color: var(--white-color);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.set_inp, input::placeholder {
    padding-left: 10px;
}
.set_inp::placeholder {
    color: var(--wgrey-color); 
    text-align: left; 
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 400;}
.set_inp {
    width: 400px;
    height: 40px;
    border: 2px solid var(--font-color);
    border-radius: 15px;
    font-size: 20px; 
    color: var(--font-color); 
}
.set_right{
    width: 540px;
    height: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: var(--white-color);
    border-radius: 15px;
}
.set_right_text{
    padding-top: 65px;
}
.text_done{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 24px;
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn_set{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: center;
}
.btn_set_save{
    background-color: var(--pink-color);
    color: var(--white-color);
    font-family: Montserrat;
    font-weight: 500;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    width: 230px;
    height: 50px;
    cursor: pointer;
}
.btn_set_save:hover{
    background-color: var(--btn-color);
}
.btn_set_save:active{
    background-color: var(--btn-color);
}
/* персонализированные предложения */
.wraper_pers{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--white-color);
    border-radius: 15px;
    padding: 30px;
    margin-top: 50px;
}
.pers_text{
    text-align: center;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    color: var(--font-color);
}
.pers_name{
    display: flex;
    gap: 10px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 20px;
}
.discount-table .customer-name:hover {
    cursor: pointer;
    font-weight: 500;
}
.pers_cards{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.item{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 246px;
    height: 320px;
    color: var(--font-color);
    font-family: Montserrat;
    font-weight: 400;
}
.item__im{
    width: 246px;
    height: 210px;
}

.item__price{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 20px;
}
.error{
    display: block;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
}